@model IEnumerable<University.Entities.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["UserId"] != null)
{
    <h4>Hello @Session["UserName"].ToString()</h4>
}
    <style>
        th, td {
            border: 1px solid #333;
            padding: 5px;
            vertical-align: middle;
            
        }
    </style>

<p>
    @Html.Partial("CreateButtonPartial")
</p>
<table class="table table-striped">
    <tr class="success">


        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.AddressId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Address.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.AddressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.State.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsVerified)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Hobbies)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th>*@

        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsVerified)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AddressId)
                </td>*@


            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobbies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </td>
        </tr>
    }

</table>
